.nav-item{
    letter-spacing:.2cm;
    font-size:14px;
    text-transform: uppercase;

}
.dropdown-item{
    letter-spacing: .2cm;
    font-size: 14px;
    text-transform:uppercase;
}
.myfooter{
    background-color:cadetblue;
    height: 100px;

}
.myfooter p{
    padding: top;
    font-size: 14px;
}
/** category page**/
.my-row-class{
    padding-top: 15px;
}

.my_row_class .mx-auto{
    color: black;
    font-size:12px;
}
.my_image{
    width:100%;
    height: auto;
}
my_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding:Spx;
    
}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
/**producy page**/

.my_prod_row_class{
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_prod_row_class.mx-auto{
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.my_product_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_prod_text{
    padding-right: 20px;
}
.my_custom_table{
    min_width:400px;
    font-size: 14px;

}
.my_custom_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: bisque! important;

}
.custom-a{
    text-decoration: none;
}
.custom_icon{
    text-decoration: none;
    color: darkgrey !important;
}
.my_custom_button{
    margin-top: 5px;
}